.banner-about {
    /* padding-top: 97px; */
    height: 600px;
}

.banner-about video {
    object-fit: cover;
}
.banner-about div h1 {
    color: white;
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
    padding: 200px 50px ;
}

header {
    background-color: rgba(179, 176, 176, 0.2);
    border-bottom: none;
    transition: 0.3s;
}